@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.bgSideMenu {
    @apply absolute z-10 bg-slate-900 bg-opacity-80 w-screen h-screen right-0 bottom-0 md:hidden;
}

.hamburger {
    @apply flex items-center justify-center w-7 h-7 text-slate-700 rounded-md hover:ring-blue-400 hover:ring-1
    hover:ring-offset-1 hover:ring-offset-blue-400 hover:transition-all hover:delay-100 focus:ring-blue-400 focus:ring-1
    focus:ring-offset-1 focus:ring-offset-blue-400 active:bg-slate-900 md:hidden;
}

.hamburger-button {
    @apply focus:rounded-md focus:p-1 focus:bg-slate-900;
}

.menu-profile {
    @apply flex space-x-1 text-slate-100 rounded-md;
}

.side-menu-link {
    @apply flex space-x-2 items-center rounded-lg p-1 text-white hover:bg-twitter-blue hover:scale-105 hover:font-semibold  md:text-base;
}

.side-menu-logo {
    @apply w-5 h-5 group-hover:text-white md:w-7 md:h-7;
}

.label-form {
    @apply font-semibold w-1/2 sm:w-full md:w-full;
}

.label-form-1 {
    @apply font-semibold;
}

.input-form {
    @apply w-1/2 rounded ring-1 ring-slate-400 px-2 py-1 focus:outline focus:outline-2 focus:outline-sky-500 sm:w-full md:w-full;
}

.add-field-form {
    @apply flex cursor-pointer w-6 h-6 text-slate-50 items-center text-center align-middle justify-center pb-1 bg-green-500 rounded;
}
.remove-field-form {
    @apply flex cursor-pointer w-6 h-6 text-slate-50 items-center text-center align-middle justify-center pb-1 bg-red-500 rounded;
}

.input-form-number {
    @apply w-1/2 rounded ring-1 ring-slate-400 px-2 py-1 focus:outline focus:outline-2 focus:outline-sky-500 sm:w-full md:w-full;
}

.input-form-1 {
    @apply w-full rounded ring-1 ring-slate-400 px-2 py-1 focus:outline focus:outline-2 focus:outline-sky-500;
}

.primary-button {
    @apply w-20 h-10 bg-emerald-700 rounded p-2 text-slate-100 font-semibold hover:bg-emerald-600;
}

.secondary-button {
    @apply w-20 h-10 bg-yellow-500 rounded p-2 text-slate-100 font-semibold hover:bg-yellow-400;
}
